body {
    background-image: url(../img/bg1.jpg);
}

.col {
  padding:7px 7px;
}

ul {
    padding-left: 0px;
}

h5 {
    margin-bottom: 0px;
}

#dog {
    margin: 5px auto;
}

#dog_list {
    padding-top: 10px;
    padding-bottom: 20px;
}

#nicknames {
    padding-top: 10px;
    padding-bottom: 20px;
}

.list_nickname {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 5px;
}

.list {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    margin: 2px 5px;
    border: 1px solid #555;
}

.list:hover {
    background-color: #fff;
    transition: transform 0.5s;
}

#level {
    padding: 10px 0;
}

#dog_img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}